@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>




    <address>
        @ViewBag.Name<br />
        @ViewBag.Age<br />
        @ViewBag.gender <br />
        @ViewBag.country
        <br>
        @ViewBag.languages
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>